{% extends "layout.html" %}
{% block content %}
    <h1>Team Members</h1>
	<html>
	My name is Joseph Worsley and I am the sole member of my team.<br>
	<br>I am from Tarboro, North Carolina, which is about 40 minutes from Greenville. 
	<br>I chose Computer Science because I liked computers growing up and wanted to pursue a career in a computer related field. 
	<br>I chose this class because I enjoyed the database class last semester and wanted to continue that education with this elective.
	<br>I am graduating this semester and am very excited!
	</body>
</html>
{% endblock content %}